PORT=5000
MONGO_URI=
JWT_SECRET=
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=http://localhost:5173
ADMIN_NAME=ShopVerse Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
ADMIN_PHONE=0000000000


EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_SECURE=false
EMAIL_USER=9212127b8c4fcc
EMAIL_PASS=9212127b8c4fcc
EMAIL_FROM=Jatin Saini <jatinkirodiwal21@gmail.com>
